{% extends 'base.html' %}

{% block head %}
<title>Better than Google</title>
{% endblock %}

{% block body %}
<h1 id="title">Better than Google</h1>
<form id="search-form" action="/" method="POST">
    <input type="text" name="query" id="query">
    <input type="submit" value="Submit Query">
</form>
<br>

{% if webpages|length < 1 %}

{% else %}
<table>
    <tr>
        <th>Title</th>
        <th>Url</th>
{#            <th>Similarity</th>#}
    </tr>
    {% for webpage in webpages %}
        <tr>
            <td>{{ webpage["title"]}}</td>
            <td>
                <a href="{{webpage["url"]}}">{{ webpage["url"]}}</a>
            </td>
{#                <td>{{webpage.similarity}}</td>#}
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
